:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
/* scroll */

.only-thumb::-webkit-scrollbar {
  width: 8px; /* hoặc 6px tùy mày */
}

/* Ẩn phần track (nền phía sau thumb) */
.only-thumb::-webkit-scrollbar-track {
  background: transparent;
}

/* Hiển thị thumb (tay nắm cuộn) */
.only-thumb::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5); /* màu thumb */
  border-radius: 9999px; /* bo tròn */
}
/* Khi hover thì thumb đậm hơn */
.only-thumb:hover::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.8);
}

